{% extends 'company.html' %}
{% load static %}

{% block title %}
    Posts
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/content.css' %}">
     <link rel="stylesheet" href="{% static 'web/css/login.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
<style>

</style>

{% block body %}
<div class="container">
    
    <div class="signup-form">
        <form action="login.php" method="post">
            <h2>User Register System</h2>
            <hr style="color:black; height: 3px; font-weight:bolder;">
           <!-- <p class="hint-text">To Enter in Copmany Profile</p>-->
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope-open"></i></span>
                <input type="text" class="form-control" name="username" placeholder="User UserName" >
            </div>
           </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                <input type="password" class="form-control" name="password" placeholder="Password" >
            </div>
            </div>
            
            <div class="form-group">
                <label class="checkbox-inline"><input type="checkbox" >  <a href="#">Remember Me</a></label>
            </div>
            <div class="form-group">
              
                <a href="/home" class="btn btn-success btn-lg btn-block" style="color:black">Register</a>
            </div>

            
        </form>
    </div>	    	
        </div>
    
    



    </div>
        

    {% endblock %}
<!--
{% block js %}
    <script src="{% static 'web/js/pretty_titles.js' %}"></script>
{% endblock %}-->